node_modules
outputs
uploads
*.pyc
.env
.map
__pycache__/
backend/app/__pycache__
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.env
__init__.cpython-312.pyc
.cpython-312.pyc
backend/app/api/domains_new.py
/*.7z
/*.zip
/*.cpython-312.pyc
~$strcutions.docx
~WRL0332.tmp
instrcutions.docx
.gitignore

./swe1-docker-deployment_29092025
./swe1-docker-deployment_13112025
./swe1-docker-deployment_18112025
swe1-docker-deployment_29092025/
swe1-docker-deployment_13112025/
swe1-docker-deployment_08122025
swe1-docker-deployment_15122025
swe-1docker-deployment_0112025
file_inventory_20260123_095438.xlsx
file_inventory_20260123_100544.xlsx
file_inventory_20260123_100517.xlsx
file_inventory_20260123_095648.xls x
.vscode/
*.vscode
.vscode/settings.json
./dist/*
dist/assets/*
dist/index.html
